doctype html
html(ng-app="nimi" style="height: 100%")

	head
		include fStylesheets
		base(href="/")

		title Nina & Michi

		style.
			@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
			@import url(http://fonts.googleapis.com/css?family=Muli);
			body {
				/*max-width: 900px;*/
				margin: 0px auto;
			}

			body .img-container {
				width: 100%;
			}

			body .img-container .header-img {
				width: 100%;
			}

			body .img-container .col-img {
				height: 100%;
			}

			body .col-inner {
				position: absolute;
				height: 100%;
				width: 100%;
			}

			body .img-container .col-img-container {
				padding-bottom: 9%;
				overflow: hidden;
				text-align: center;
			}
			body .title {
				font-family: 'Great Vibes';
				text-align: center;
				font-size: 9vw;
				margin-top: 37px;
				margin-bottom: 1px;
				color: #61625a;
			}

			body .subtitle {
				text-align: center;
				font-size: 2vw;
				margin-bottom: 40px;
				color: #61625a;
			}

			body .download{
				background: #61625a;
				text-align: center;
				color: white;
				padding: 7px 9px;
				border-radius: 4px;
				width: 128px;
				float: right;
				margin: 6px;
			}
			body .download:hover{
				background-color: #969696;
			}
			@media (max-width: 550px){
				body .title {
					font-size: 16vw;
				}
				body .subtitle {
					font-size: 10vw;
				}
			}



	body.nimi(ng-controller="cfMainCtrl")
		div.title Nina & Michi
		div.subtitle 06.08.2016
		div.download
			i.fa.fa-cloud-download(aria-hidden="true" style="margin-right: 12px")
			i Download
		div.img-container
			img.header-img(src="http://placehold.it/350x150")
		div(xgallerify)
			img(ng-repeat="a in files track by $index" ng-src="images/{{a}}")


	include fScripts





