//===========================================================================
//=============================  JaVaScRiPt  ================================
//===========================================================================
//JqUeRy
script(src="../libs/frontend/jquery-1.12.3.js")
//AnGuLaR mAiN
script(src="../libs/frontend/angular-1.5.5/angular.js")
script(src="../libs/frontend/angular-1.5.5/angular-route.js")
script(src="../libs/frontend/angular-1.5.5/angular-sanitize.js")
script(src="../libs/frontend/angular-1.5.5/i18n/angular-locale_de.js")
//AnGuLaR eXtEnSiOnS
script(src="../libs/frontend/angular-extensions/angular-ui-notification.js")
script(src="../libs/frontend/angular-extensions/ui-bootstrap-tpls-1.3.2.js")
script(src="./../libs/frontend/angular-extensions/ng-file-upload.12.0.4.js")

script(src="//cdn.jsdelivr.net/jquery.xgallerify/latest/jquery.xgallerify.min.js")
script(src="//cdn.jsdelivr.net/angular.xgallerify/latest/angular-xgallerify.min.js")


//DeV FiLeS
script(src="../frontend.js")
script(src="../templates.js")

script.
	function resize(){
		$(window).trigger('resize');
		console.log("resize");
	}
	setTimeout(resize, 500);
	setTimeout(resize, 1000);
	setTimeout(resize, 2000);
	setTimeout(resize, 3000);
	setTimeout(resize, 4000);
	setTimeout(resize, 5000);

block fScripts
