//===========================================================================
//===============================  StYlEs  ==================================
//===========================================================================
//AnGuLaR eXtEnSiOnS
link(rel="stylesheet" href="../libs/frontend/angular-extensions/bootstrap.css")
link(rel="stylesheet" href="../libs/frontend/angular-extensions/angular-ui-notification.css")
link(href="./../libs/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet")
	
//DeV Files
link(rel="stylesheet" href="../frontend.css")
link(href="../libs/fonts/MinionPro-Regular.woff")
link(href="../libs/fonts/UniversLTStd-BoldCn.otf")
link(href="../libs/fonts/UniversLTStd-Cn.otf")
link(href="../libs/fonts/UniversLTStd-LightCn.otf")
//FaViCoN

block fStylesheets