doctype html
html( style="height: 100%")
    head
        link(rel="stylesheet" href="/libs/frontend/angular-extensions/bootstrap.css")
        title EITEC Anmeldung
        meta(name="viewport", content="width=device-width", initial-scale=1.0, maximum-scale=1.0, user-scalable="no")
        style.
            .backendLogin {
                background: #2b2d34;
            }

            .backendLogin .container {
                margin: auto;
                width: 340px;
            }

            .backendLogin .container img {
                width: 100%;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            .backendLogin .container h1 {
                color: #b5b4b5;
            }

            .backendLogin .container p {
                color: #b5b4b5;
            }

            .backendLogin .container p.errorMessage {
                background: #c21111;
                padding: 15px;
                border-radius: 7px;
            }

            .backendLogin .container form .btn {
                background: #2b2d34;
                color: #b5b4b5;
                border: solid 3px #b5b4b5;
            }

            .backendLogin .container form .btn:hover {
                background: #b5b4b5;
                color: #2b2d34;
            }

    body.backendLogin
        .container
            img(src="/images/EITEC-Logo.png")
            h1 Nina & Michi
            p.lead Bitte Passwort eingeben.
            if message.length > 0
                p.errorMessage #{message}
            br
            form(role='form', action="/passSiteProtection",method="post", style='max-width: 300px;')
                .form-group
                    input.form-control(type='password', name="password", placeholder='Passwort')
                input.btn.btn-primary(type="submit", value="Login")